body{
    background-color: #C4C4C4;
}

.navbar{
    display:flex;
    justify-content: space-around;
}

#header{
    font-style: italic;
}

.tabs{
    justify-content: space-between;

    /* display: inline; */
    display: flex;
    text-decoration: none;
    word-spacing: 50px;
}



