*{
    font-family: 'Space Grotesk', sans-serif;;
}
body{
    background-color: #C4C4C4;

}

.navbar{
    display:flex;
    justify-content: space-around;
    border-bottom: 0.09px solid  grey;
}

#header{
    font-family:'Oleo Script', cursive;;
}

.tabs{
    justify-content: space-between;

    /* display: inline; */
    display: flex;
    text-decoration: none;
    word-spacing: 50px;
}

button{
 padding: 10px;
 border-radius: 5px;
 height: fit-content;
 background-color: #2549D3;
 color: white;
 border: none;
 font-weight: 600;
}
.section1{
    display: flex;
    justify-content: space-around;
    padding: 35px;
    
}

.heroimg{
    float: right;
}
.dreams{
    font-size: 40px;
    color: #2549D3;
}
.location{
    padding: 2%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(228, 222, 222);
}

.section2{
    margin:10%;
}


.works{
    margin-top: 5%;
    text-align: center;
}

.products{
    display: flex;
    justify-content: space-around;

}

.home{
    text-align: center;
    background-color: white;
    padding: 20px;
    height: 200px;
    justify-content: space-around;
}

.prod,#how,.intro>h2,.why>h2,.featured>h2{
    color:  #0F298B;
}

.checkbox{
    display: flex;
    justify-content: space-around;
}

.section3{
    display: flex;
    justify-content: space-around;
    padding: 10%;
    
}
.featured{
    text-align: center;
}
.cards,.card_info{
    display: flex;
    justify-content: space-around;
}
.card{
    background-color: white;
    box-shadow: 2px 5px 10px gray;
}
.section4>button{
    float: right;
    margin: 30px;
}